@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	line-height: 1.7;
	height: 100vh;
	background-color: #f8f9fa;
}

main {
	margin-top: 95.99px;
}

h1 {
	font-size: 2.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
	padding-left: 1rem;
}
.gallery img:first-child {
	grid-column: span 3;
	grid-row: span 3;
}

.gallery img:nth-child(3) {
	grid-column: span 2;
	grid-row: span 2;
}

.gallery img:nth-child(16) {
	grid-column: span 2;
	grid-row: span 2;
}

.gallery img:nth-child(19) {
	grid-column: span 2;
	grid-row: span 2;
}
.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
	gap: 1rem;
	padding: 1rem;
}

.gallery img {
	width: 100%;
	height: auto;
	border-radius: 0.5rem;
	transition: transform 0.3s ease;
	-webkit-transition: transform 0.3s ease;
	-moz-transition: transform 0.3s ease;
	-ms-transition: transform 0.3s ease;
	-o-transition: transform 0.3s ease;
}

.gallery img:hover {
	transform: scale(1.02);
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-ms-transform: scale(1.02);
	-o-transform: scale(1.02);
}
