@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@keyframes fadein {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	animation: fadein 1s ease-in-out;
	-webkit-animation: fadein 1s ease-in-out;
	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(135deg, #667eea, #764ba2);
	align-items: flex-start;
	height: 100vh;
	font-size: 16px;
	line-height: 1.7;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

.login-container {
	/* color: white; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 4rem);
	width: 100%;

	form {
		/* width: 100%;
		height: 100%; */
		display: flex;
		width: 30rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		background-color: rgb(255, 255, 255);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
		padding: 2rem;
		border-radius: 8px;

		#login-title {
			font-size: 2.5rem;
			font-weight: 700;
			letter-spacing: -0.5px;
			margin: 0rem 0rem 0rem 0rem;
		}

		input {
			/* background-color: #27272a; */
			background-color: transparent;
			width: 100%;
			padding: 0.8rem;
			/* color: #fff; */
			border: 1px solid #fff;
			font-size: 1.2rem;
			/* margin: 1rem; */
			margin: 1rem 0rem;
			/* border: 1px solid black;   */
			border-radius: 0.3rem;
			border: 1px solid #ccc;
			box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);

			&::placeholder {
				color: #9ca3af;
			}

			&:focus {
				outline: 0px;
				outline-offset: 2px;
			}
		}
		#submit-btn {
			width: 100%;
			padding: 1rem;
			background-color: #007bff;
			border: none;
			border-radius: 0.3rem;
			color: #fff;
			font-size: large;
			font-weight: 800;
			cursor: pointer;
			margin: 1rem 0rem;
			transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

			&:hover {
				background-color: #0056b3;
				transform: translateY(-2px);
			}

			&:focus {
				outline: 0px;
				outline-offset: 2px;
			}
		}
	}
}
